# Imported files from the jobrunner project
jobrunner
bin
docs
flows
requirements
tests
tools
lib
activate_venv
runtests.sh

# PyCharm
.idea
.venv

# Terraform
terraform.tfstate
terraform.tfstate.backup

